<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rikesh Bohara</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@100&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
  </head>
  <body>
    <header id="header">
        <div class="logo">
          <a href="index.html"><img src="../images/logo.png" alt="Logo" /></a>
        </div>
        <nav class="navbar">
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="projects.html">Projects</a></li>
          </ul>
        </nav>
    </header>
    <div id="hero">
        <h1 class="hero-heading">I'm Rikesh Bohara</h1>
        <p class="info">a CS student.</p>
        <a href="about.html"><p class="more">More About Me → </p></a>
        <!-- <img src="" alt="" class="hero-img"> -->
    </div1>

    <!-- <div class="middle-container">
      <div class="profile">
        <img src="../images/pic.png" alt="picture" class="profile-img">
        <h2>Hello.</h2>
        <p class="intro">I am an aspiring Computer Science Student. I ❤ Web Programming.</p>
      </div> -->

    <footer id="footer">
      <P class="copy">Copyright &copy2023</P>
    </footer>
  </body>
</html>
